<% if notice.present? %>
  <div id="notice" class="alert alert-success mt-2" role="alert"><%= notice %></div>
<% end %>

<h1><%= PhoneBook.model_name.human(count: 2) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= PhoneBook.human_attribute_name(:title) %></th>
      <th>#</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_books.each do |phone_book| %>
      <tr>
        <td><b><%= link_to phone_book.title, phone_book %></b></td>
        <td><%= phone_book.phone_book_entries.count %></td>
        <td><%= link_to material_icon('edit'), edit_phone_book_path(phone_book) %></td>
        <td><%= link_to material_icon('delete'), phone_book, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to material_icon('add', t('new_title', model: PhoneBook.model_name.human)), new_phone_book_path, class: 'btn btn-primary' %>
