<table class="table">
  <thead>
    <tr>
      <% if show_phone_book %>
          <th><%= PhoneBook.model_name.human %></th>
      <% end %>
      <th><%= PhoneBookEntry.human_attribute_name(:name) %></th>
      <th><%= PhoneBookEntry.human_attribute_name(:phone_office) %></th>
      <th><%= PhoneBookEntry.human_attribute_name(:phone_mobile) %></th>
      <th><%= PhoneBookEntry.human_attribute_name(:phone_other) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% entries.each do |phone_book_entry| %>
      <tr>
        <% if show_phone_book %>
            <td><%= phone_book_entry.phone_book.title %></td>
        <% end %>
        <td><b><%= link_to phone_book_entry.name, phone_book_entry %></b></td>
        <td><%= phone_book_entry.phone_office %></td>
        <td><%= phone_book_entry.phone_mobile %></td>
        <td><%= phone_book_entry.phone_other %></td>
        <td><%= link_to material_icon('edit', t('edit')), edit_phone_book_entry_path(phone_book_entry) %></td>
        <td><%= link_to material_icon('delete', t('delete')), phone_book_entry, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
