<p id="notice"><%= notice %></p>

<h1>Phone Book Entries</h1>

<table>
  <thead>
    <tr>
      <th>Phone book</th>
      <th>Name</th>
      <th>Telephones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_book_entries.each do |phone_book_entry| %>
      <tr>
        <td><%= phone_book_entry.phone_book %></td>
        <td><%= phone_book_entry.name %></td>
        <td><%= phone_book_entry.telephones %></td>
        <td><%= link_to 'Show', phone_book_entry %></td>
        <td><%= link_to 'Edit', edit_phone_book_entry_path(phone_book_entry) %></td>
        <td><%= link_to 'Destroy', phone_book_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Book Entry', new_phone_book_entry_path %>
