<p id="notice"><%= notice %></p>

<p>
  <strong>Phone book:</strong>
  <%= @phone_book_entry.phone_book.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @phone_book_entry.name %>
</p>

<p>
  <strong>Phone office:</strong>
  <%= @phone_book_entry.phone_office %>
</p>

<p>
  <strong>Phone mobile:</strong>
  <%= @phone_book_entry.phone_mobile %>
</p>

<p>
  <strong>Phone other:</strong>
  <%= @phone_book_entry.phone_other %>
</p>

<%= link_to 'Edit', edit_phone_book_entry_path(@phone_book_entry) %> |
<%= link_to 'Back', phone_book_path(@phone_book_entry.phone_book) %>
